.librarySong-container {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	cursor: pointer;
	img {
		width: 5rem;
	}
	&:hover {
		background-color: #b3b5f2;
	}
}

.selected {
	background-color: rgb(141, 181, 222);
}

.song-info {
	padding-left: 1.5rem;
	h2 {
		padding: 0.3rem 0rem;
		font-size: 1.2rem;
	}
	h3 {
		font-size: 0.8rem;
	}
}
