.player {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 20vh;
}

.time-controls {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: space-between;
	input {
		width: 100%;
		padding: 2rem 0rem;
	}
	p {
		padding: 1rem;
	}
}

.player-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	width: 30%;
	svg {
		cursor: pointer;
	}
}
